<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pemsum</title>

        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            .pokemon-header {
                background:#333 ;
                padding: 20px 0;
                position: relative;
                overflow: hidden;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            }         

            .player-title {
                font-family: 'Segoe UI';
                font-size: large;
                font-weight: 500;
                color:  gold;   
            }
            
        </style>
    </head>
    <body>
        <header class="pokemon-header">
            <div class="header-content">
                <h1 class="player-title"> Pemsum </h1>  
            </div>
        </header>
    </body>
</html>