<div class="tablaTokens">
    <h2>Tabla de Tokens</h2>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Fila</th>
                <th>Columna</th>
                <th>Lexema</th>
                <th>Token</th>
            </tr>
        </thead>
        <tbody id="tabla-tokens-body">
        </tbody>
    </table>
</div>

<div class="tablaErrores"></div>
    <h2>Tabla de Errores</h2>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Fila</th>
                <th>Columna</th>
                <th>Lexema</th>
                <th>Token</th>
            </tr>
        </thead>
        <tbody id="tabla-errors-body">

        </tbody>
    </table>
</div>